@page

@model Web.Auth.Api.Pages.Account.LoginModel;

@{
    ViewBag.Title = "Login";

    ViewData["Title"] = ViewBag.Title;
}

<div class="form-wrap">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
        <h2>@ViewBag.Title</h2>

        <div class="form-field">
            <input asp-for="Input.Email" placeholder="email@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-field">
            <input asp-for="Input.Password" placeholder="пароль" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-remember-field">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe" class="form-label">
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <button type="submit">Login</button>

        <div class="form-additional">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registration</a>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    </form>

    @* <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to log in.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a
    href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
    class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your
    @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
